body {
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #e3e3e3;
}

p {
  margin: 0;
}

.checklist {
  margin: 0 auto;
  width: 743px;
  height: 91px;

  background-color: #3579f5;
  border-radius: 10px;
  color: white;
}

.checklist__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.progress {
  --progress: 70%; /* меняем прогресс в зависимости от css-переменной */
}

.progress__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.progress-bar {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(closest-side, transparent, transparent 80% 100%),
    conic-gradient(rgba(46, 46, 46, 0.273) var(--progress), transparent 0);
}

.progress__container circle {
  fill: none;
}

.progress-bar__inner {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.progress-bar__group {
  position: relative;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info__badge {
  background-color: #2364db;
  width: 57px;
  height: 12px;
  padding: 2px 10px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info__title {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
}

.info__subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.checklist__button {
  width: 169px;
  height: 38px;

  border: 0;
  border-radius: 6px;

  padding: 10px 24px;

  background: #f4f8ff;
  color: #3579f5;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  cursor: pointer;
}
